# Configuración del Servidor
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Seguridad
JWT_SECRET=FLL2026_SECRET_CHANGE_ME

# Configuración de Astro
ASTRO_PORT=4321

# Configuración de Túnel (Opcional)
# TUNNEL_SUBDOMAIN=tu-nombre-de-evento-fll
